body {
    font-family: sans-serif;
    background-color: #ffffff;
}
.TituloBox{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    margin-bottom: 10px;
    margin-left: 9px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: 99%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.TituloBox2{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    margin-bottom: 10px;
    

    padding-top: 10px;
    padding-bottom: 10px;
    
    

    width: 78%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.PeriodoReporte{
    width: 18.8%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

    height: 200px;
    margin-left: 10px;
    margin-right: 25px;
    align-content: center;
    
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.iconos{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    
    margin: 20px;
    width: 90%;
    
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.img{
    width: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}
.Titulo{
    color: #4da5e3;
    text-align: center;
    padding-right: 30px;
    -webkit-text-stroke: 0.5px black;
    margin-bottom: 20px;
    margin-top: 10px;

}
.Titulo1{
    color: #4da5e3;
    text-align: center;
    padding-right: 30px;
    -webkit-text-stroke: 0.5px black;
    

}
.text{
    margin:10px;
}
.SubTitulo{
    color: #4da5e3;
    -webkit-text-stroke: 0.5px black;
    font-size: 25px;
}
.iconoE2
{
    width: 120px;
}
.iconoECP
{
    width: 200px;
}
.TitlePeriodo{

    text-align: center;
    padding-bottom: 15px;
    margin-left: -20px;
    margin-top: 20px;
    font-weight: bold;

}
.TitleOpe{

    text-align: center;
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: 10px;

}
.Periodo{
    
    margin: 10px;
    margin-left: 20px;
    width: 90%;

}
.Item{
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
}
.ItemOpR{
    width: 50%;
    text-align: center;
}
.GraficoTorta{
    height: 210px;
    width: 210px;

    margin-left: 30px;
    margin-top: 20px;
}
.OperatividadPadre{
    margin-left: 10px;
    margin-right: 10px;

    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    display: flex;
    flex-direction: column;

    width: 264px;
    height: 400px;
}
.TitleSistema{

    text-align: center;
    padding-bottom: 15px;
    margin-left: -5px;
    font-weight: bold;

}
.IdenSistema{
    
    margin: 10px;
    margin-left: 20px;
    width: 90%;
    height: 300px;

}
.ItemOp{
    width: 60%;
    font-weight:bold;

    font-size: 15px;
}
.GraficosCumpDea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    width: 78%;
    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);
}
.DEAHijo{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.Cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.CumplTXT{
    font-size: 6px;
    font-weight: bold;
}
.CumplimientoHijo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#CumplimientoTitulo{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    color: #4da5e3;
}
#CumplimientoTitulo2{
    font-size: 15px;
    color: #4da5e3;
}
#TituloDEA{
    font-size: 15px; 
    color: #4da5e3;
    -webkit-text-stroke: 0.5px black
}
#CumplTXT{
    font-size: 15px;
    margin-top: 10px;
    width: 600px;
    color: rgb(128,128,128);
    text-align: justify;
    
}
.leftPanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    

}

#energiasvg{
    width: 30px;
}

.TituloNominales{
    width: 500%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}
.TituloTabla{
    background-color: #C8D4E3;
    color:#2A3F5F;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 10px;
    width: 99.7%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;

}
.TablasNominales{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;

    border: rgb(157, 196, 241) 1px solid;
    border-radius: 10px;
    background-color: rgb(248, 251, 254);

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}